{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="max-w-5xl mx-auto p-6">
    <div class="flex flex-col md:flex-row gap-8">

        <!-- Левая часть: Фото -->
        {% if app.image %}
        <div class="md:w-1/2 flex-shrink-0">
            <img src="{{ app.image.url }}" alt="{{ app.name }}" class="w-full h-auto rounded-lg object-cover">
        </div>
        {% endif %}

        <!-- Правая часть: Информация и описание -->
        <div class="md:w-1/2 flex flex-col justify-between space-y-6">
            <div class="space-y-4">
                <h1 class="text-3xl font-bold">{{ app.name }}</h1>
                <p class="">{{ app.description }}</p>

                {% if app.apk_file %}
                <a href="{% url 'download_apk' app.id %}" 
                   class="inline-flex items-center px-6 py-3 bg-green-600 text-white rounded-lg hover:bg-green-700 transition">
                    {% trans "Download" %}
                </a>
                {% else %}
                <div class="text-lg flex gap-2">
                    <p>{{ app.price }} AZN</p>
                    |
                    <a href="https://wa.me/994518400012?text=Salam%20right%20screen%20appi%20almaq%20isteyirem"
   target="_blank"
   class="text-green-500 underline">
   WhatsApp
</a>

                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}
